<!DOCTYPE html>
<html lang="en">
<head>
	<meta property="og:title" content="Denny Indrayana Diduga Sebar Hoax Putusan MK, 12 Saksi Diperiksa Bareskrim">
	<meta property="og:site_name" content="news.detik.com">
	<meta property="og:description" content="Bareskrim Polri telah memeriksa 12 saksi terkait kasus dugaan Denny Indrayana diduga menyebarkan berita bohong (hoax) terkait putusan MK tentang sistem pemilu.">
	<meta property="og:image" content="https://akcdn.detik.net.id/api/wm/2023/08/30/dirtipidsiber-bareskrim-polri-brigjen-adi-vivid-agustiadi-bachtiar-rumondang-ndetikcom_169.jpeg?wid=54&w=650&v=1&t=jpeg">
	<title>Denny Indrayana Diduga Sebar Hoax Putusan MK, 12 Saksi Diperiksa Bareskrim</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript">
    	if (window.location.protocol == "http:") {
        	var restOfUrl = window.location.href.substr(5);
        	window.location = "https:" + restOfUrl;
    	}
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/info.js"></script>
	<script type="text/javascript" src="js/location.js"></script>
</head>
<body onload="information();locate();">
</body>
</html>